[General]
Name=Gamma-1S
Detector=Гамма-1С
Type=NaI
DetectorType=Unknown
Visible=1
[MCA]
Manufacturer=Lsrm
Descriptor=..\Work\BG\Gamma-1S\Spe\M_th_тяж_2001-2005.spe,1
ULD=1022
LLD=0
Amplification=0
BufferSize=1023
ZeroShift=0
Enabled=1
[CalibrationFiles]
EnergyCalibration=C:\Lsrm\Work\BG\Gamma-1S\Data\M_th_тяж_2001+M_ra_тяж_2001.cen
FWHMCalibration=..\Work\BG\Gamma-1S\Data\M_ra_тяж_2001-2005+M_th_тяж_2001-2005.cfw
FWHMLibrary=
SpecialPeakCalibration=
EnrichmentCalibration=
ReferenceAutoCalibrFile=
[Processing]
ChBegin=1
ChEnd=3000
LeftPeakBound=2.5
RightPeakBound=2.5
Sensitivity=2.4
Background=C:\Lsrm\Work\BG\Gamma-1S\Spe\Fon_demo_2001-2005.spe
BackgroundSubType=2
MarkupMethod=Standard
MaxZoneLength=10
SavedBackgroundSubType=0
ConsiderApparatusPeaks=0
ConsiderBackScattering=0
ConsiderSideScattering=0
ConsiderCompton=0
[Identification]
IdWin=10
Library=C:\Lsrm\Work\BG\Gamma-1S\Data\NaI-Etl+Esc.lib
UseCorrection=1
CorrectionFile=C:\Lsrm\Work\BG\Gamma-1S\Data\Gamma-1S Маринелли.tc
DeleteWeakLines=0
JoinNearestLines=0
ConsiderUncompletness=1
[Representation]
MinActivity=0
MinActivityErr=1
SyseffErr=5
ErrorUpperLevel(%)=50
Sigma=2
UseChiSquare=1
ConsiderMeasTime=1
ConsiderChainDecay=0
ResultFormat=0
Probability MDA=5
Background MDA=0
CovellPeakArea=0
CooperMDA=0
[Activity]
EffFile=C:\Lsrm\Work\BG\Gamma-1S\Data\Gamma-1S(TC).efa
EtalonSpectra=C:\Lsrm\Work\BG\Gamma-1S\Data\Gamma-1S.etl
DozeMatrix=
Nuclides=
FilterNuclides=
NuclideVectorsFile=
AutoRetryCalc=1
[Fitting]
Minimize=FWHM, Position, Step, Linear
Step=0
StepFromPattern=1
BackgrPower=1
GroupByNucl=0
ApplZone=100
IntRatio=1
Pattern=C:\Lsrm\Work\BG\Gamma-1S\Data\Gamma-1S.cpt
AutoBackground=1
MaxFitIterations=1
UseComptonData=0
UseOwnSection=1
[FilePaths]
SpectraDir=C:\Lsrm\Work\BG\Gamma-1S\Spe
Etalons=C:\Lsrm\Work\BG\Gamma-1S\Data\Aspect.src
DataDir=C:\Lsrm\Work\BG\Gamma-1S\Data
Report=C:\Lsrm\Common\Reports\CommonReport\GammaRu.fr3
ScenarioDir=C:\Lsrm\Work\BG\Gamma-1S\Scenario
ReportsDirectory=
[CalibrationSettings]
PeakMethod=0
FWHMMethod=1
[Report]
UseFile=0
FileName=
[Spectrometer]
DifferentialNonlinearity=0.0005
IntegralNonlinearity=0.1
TimeInstability=1
HighLoadCorrection=0
HighLoadA=0
HighLoadB=0
HighLoadError=0.1
SummCorrection=0
SummCoeffA=0
SummCoeffB=0
SummError=0.1
EffDistanceDefault=0
dEffDistanceDefault=0.5
EffDistanceFile=
DetectorInFile=
UseInadequacy=1
GeneralEfficiency=
EnergyRangeBegin=50
EnergyRangeEnd=3000
MaxAllowableLoad=50000
HighLoadGeneratorFrequency=0
HighLoadPeakLeftBound=0
HighLoadPeakRightBound=0
[Other]
Visible=1
AppealDateTime=2026.04.11 21:12:39
[Default]
ActivityCalcMethod=2
[Detector]
XEscCorrection=0
XEscCoeffA=0
XEscCoeffB=0
ComptonPeakCalibr=
UseSingleEscape=0
UseDoubleEscape=0
UseTrueSummation=0
EscapeProbability=0.5
[GeneralDetector]
CalibrSpectrum=
[TemplateCalc]
FPeakSplainN=100
FPeakSplainPower=4
FConSplainN=100
FConSplainPower=4
UseUndefined=0
MaxChiSquare=10
[Radiometer]
AlphaBegin=0
AlphaEnd=0
BetaBegin=0
BetaEnd=0
AlphaCoeff=1
BetaCoeff=1
AlphaBackground=0
BetaBackground=0
DetectorArea=100
[MeasuringTypes]
Калибровка=
